body{
    background-color: #EFEFEF;;
    font-family: "Montserrat";
    &.left{
        // overflow: hidden;
        overflow: hidden;
        .submenu-overlay{
            pointer-events: none;
        }
    }
}


.small_bold{
    color: #000;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container{
    max-width:1560px;
    padding: 15px 15px;
    margin: 0 auto;
    z-index: 1;
}

h1, .h1{
    font-family: inherit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px;
}

h2{
    color: #000;
    /* Loft Card-name */
    font-family: inherit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%; /* 23.04px */
}

h3{
    color: #000;
    /* Loft Card-name */
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%; /* 23.04px */
}

@media screen and (max-width:1200px){
    h1, .h1{
        font-size: 35px;
    }
}

@media screen and (max-width:768px){
    h1, .h1{
        font-size: 25px;
    }
}

@media screen and (max-width:360px){
    h1, .h1 {
        font-size: 21px;
    }
}