html:has(.modal.active) {
    overflow: hidden;
}

.overlays {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.overlays:has(.modal.active) {
    opacity: 1;
    pointer-events: auto;
}


.modal {
    background: #fff;
    max-width: 779px;
    width: 90%;
    max-height: auto;
    overflow-y: auto;
    padding: 54px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    display: none;
    transition: all 0.3s ease;
}

.overlays .modal.active {
    transform: translateY(0);
    display: block;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.modal-close svg path{
    transition: all ease 0.3s;
}
.modal-close:hover svg path {
    stroke: red;
}

.modal p.added{
    font-family: Montserrat;
    font-size: 23px;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.modal p {
    margin: 15px 0 30px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 200;
    color: #020202;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.modal-buttons button {
    border: 1px solid #000;
    padding: 25px 60px;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.3s;
    text-transform: uppercase;
    font-weight: 600;
}


.confirm-btn {
    border: 1px solid #000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.confirm-btn:hover{
    color: #ffffff;
    background-color: #000000;
}

.exit-btn {
    border: 1px solid #000;
    color: #ffffff;
    background-color: #000000;
}
.exit-btn:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}


.wrap-item-page {
    display: flex;
    gap: 20px; 
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 100px;
}

.wrap-item-image{
    width: 100%;
    max-height: auto;
    margin-bottom: 30px;    
    img{
        width: 100%;
        object-fit: cover;
    }
}

.pics-part {
    // flex: 0 0 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: sticky;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 12px;
}

.inform-part {
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    position: sticky;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    position: relative; 
}

.wrap-item-info {
    will-change: transform;  
    overflow-x: auto;
    transition: transform 0.2s ease-out;
    top: 20px; 
    padding-left: 5px;
    width: 100%;
    overflow: auto; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
  }
  .inform-part::-webkit-scrollbar,
  .pics-part::-webkit-scrollbar {
    width: 8px; 
  }
  .inform-part::-webkit-scrollbar-thumb,
  .pics-part::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  .inform-part::-webkit-scrollbar-track ,
  .pics-part::-webkit-scrollbar-track {
    background: transparent; 
  }


.heade-info{
    display: flex;
    justify-content: space-between;
}

.articul, .it-is{
    color: #636363;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span{
        color: #000;
        margin-left: 5px;
    }
}

.voices{
    color: #636363;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-texts{
    .h1{
        margin-bottom: 38px;
    }

    .product-prices{
        margin-bottom: 50px ;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .screen-reader-text{
            height: 0px;
            opacity: 0;
        } 
    del{
        text-decoration: none;
        .woocommerce-Price-amount, .woocommerce-Price-currencySymbol{
            color: #A6A6A6;             
            font-family: inherit;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 144%; /* 28.8px */
            text-decoration-line: line-through;
        }
    }        
    ins{
        text-decoration: none;
        .woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
            color: #E31727;     
            font-family: inherit;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 144%; /* 69.12px */
            margin-top:-5px;
            text-decoration: none;
        }
    }
        
    }
}


.button-container{
    margin-bottom: 60px;
    .button-link{
        display: flex;
        text-decoration: none;;
        background-color: transparent;
        border-radius: 1px;
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 17px 0px 17px 35px;
        justify-content: flex-start;
        margin-bottom: 20px;
        max-width: 365px;;
        svg{
            max-width: 28px;
            max-height: 28px;     
            margin-right: 10px;
            path{
                transition: all ease 0.3;
            }
        }
        &:hover, &:active{
            background-color: #fff;
    
        }
        
        &.red{
            border: 1px solid #E31727;
            color: #E31727;
            svg{
                path{
                    transition: #E31727;
                }
            }
   
        }
        &.green{
            border: 1px solid #387D17;
            color: #387D17;
            svg{
                path{
                    transition: #387D17;
                }
            }           
        }
        &.blue{
            border: 1px solid #27A0D8;
            color: #27A0D8;
            svg{
                path{
                    transition: #27A0D8;
                }
            }           
        }
    }
}

.product-info{
    p{
        color: #101010;
        font-family: inherit;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 184%; /* 33.12px */
    }
}
.accordeon-section{
    margin-bottom: 50px;
    border-bottom: 1px solid #D4D4D4 ;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: #000;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D4D4D4 ;
    align-items: center;
    &:hover{
        color: #3f3f3f;
    }
    &.active{
        .arr-accordeon{
            transform: rotate(90deg);
        }

    }
  }
  .arr-accordeon{
    width: 10px;
    height: 10px;
    transition: all ease 0.3s;
  }
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p{
        font-size: 15px;
        font-family: inherit;
    }
  }
  .panel-list{
    padding-left: 0px;
    li{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0px;

        span{
            color: #1F1F1F;
            font-family: inherit;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 49%;
            &.name{
                color: #999999;
            }
            &.info{
                color: #1F1F1F;
                text-align: right;
            }
            
        }
    }
  }

  @media screen and (max-width: 1400px){
    .modal-buttons {
        flex-direction: column;
    }
    .product-texts h1{
        font-size: 29px;
    }
    .product-texts .product-prices p.new {
        font-size: 35px;
    }
    .product-info p{
        font-size: 16px;
    }
    .accordion{
        font-style: 17px;
    }
    .wrap-item-image{
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 1400px){
    .wrap-item-page{
        flex-direction: column;
    }
  }

  .pics-part .item-image {
    width: 100%;
    height: auto;
    display: block;
  }


  @media screen and (max-width: 768px){
    .pics-part .wrap-item-image {
        padding: 10px;
      }
    .pics-part{
        max-height: auto;
        max-height: 100%;
        width: 100%;
        display: block;
        overflow: auto;
        padding-bottom: 30px;
        .wrap-item-image{
            width: 100%;
        }
    }
    .inform-part{
        width: 100%;
    }
   .wrap-item-page  ul.slick-dots{
        bottom: -10px
    }
    .wrap-item-info{
        overflow: initial;
    }
    .inform-part{
        min-height: 100%;
        overflow: initial;
        max-height: initial;
    }
    .product-texts h1 {
        font-size: 23px;
    }
    .product-texts .product-prices p.new {
        font-size: 27px;
    }
    .product-texts .product-prices {
        margin-bottom: 30px;
        display: flex;
        align-items: baseline;
    }
    .product-texts .product-prices p.old{
        margin-right: 10px;;
    }
    .product-texts .product-prices ins .woocommerce-Price-amount, .product-texts .product-prices ins .woocommerce-Price-currencySymbol{
        font-size: 28px;
    }
    .accordion{
        font-size: 17px;
        padding: 15px 0px;
    }
    .wrap-item-page{
        margin-bottom: 50px;
    }
    .button-container{
        margin-bottom: 30px;
    }
    .button-container .button-link{
        max-width: 300px;
    }
    .panel-list{
        padding-top: 0px;
    }
    .block-name{
        text-align: center;
    }
  }


  @media screen and (max-width: 478px){
    .button-container .button-link{
        font-size: 17px;
        margin: 10px auto;
        align-items: center;
    }
  }

  @media screen and (max-width: 350px){
    .button-container .button-link{
        font-size: 17px;
        margin: 10px auto;
        align-items: center;
    }
  }