

.block-404{
    padding: 100px 0px 200px;
}
.wrap-forty{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
.forty{
    font-size: 228px;
    font-family: Montserrat;
    color: #545353;
    font-weight: 700;
    &:nth-child(1){
        margin-right: -30px;
    }
    
}
.crown-image{
    width: 245px;
    height: 245px;
    object-fit: cover;
}
.dont-exist{
    font-family: Montserrat;
    text-align: center;
    font-size: 32px;
    font-weight: 500; 
    margin-bottom: 20px;
}
.alternatives{
    font-family: Montserrat;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    max-width: 70%;
    margin: 0 auto;
    line-height: 150%;
    a{
        color: #E31727;
        transition: all ease 0.3s;
        &:hover{
            text-decoration: none;
        }
    }
}


.LoginForm{
}
.formStyle{
    max-width: 300px;
    margin: 20px auto 40px;
    .input-group{
        margin-bottom: 25px;
    }
    .btn-togo {
        margin: 0 auto;
        display: block;
        text-transform: none;
        background-color: #000;
        color: #fff;
        padding: 19px 55px;      
        transition: all ease 0.3s;
        &:hover{
            background-color: #fff;
            color: #000;
        }  
    }
    
}

.links-line{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .link-type{
        color: #000;
        font-family: inherit;
        font-size: 16px;
        text-decoration: none;
        &:hover{
            color: #E31727;
        }
    }
}

.block-name {
    color: #000;
    font-family: inherit;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.see-all {
    color: #4C4C4C;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin: 0px;
    &:hover {
        color: #E31727;
    }
}

.name-block-line {
    margin-bottom: 41px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 10px;
    ;
}

ul.slick-dots {
    list-style: none;
    position: absolute;
    top: -100px;
    left: 50%;
}

/* Кастомна точка */
.dot {
    width: 9px;
    height: 9px;
    background-color: #D9D9D9;
    display: block;
    border-radius: 100%;
    margin: 0 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background-color: #888888;
    }
}

/* Обгортка для точок */
.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    list-style: none;
}

/* Активна точка */
.slick-dots li.slick-active .dot {
    background-color: #888888;
    /* або інший колір */
}


/* Загальна позиція */
.popular-banner,
.portfolio-section,
.sale-block
 {
    position: relative;
    margin-bottom: 100px;
}

.sale-block{
    .name-block-line {
        margin-bottom: 50px;
    }
}

.popular-banner{
    margin-bottom: 54px;
}


/* Стрілки */
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    z-index: 2;
    &:hover {
        opacity: 1;
    }
}


.pop-slider .slick-prev.slick-arrow,
.portfolio-slider .slick-prev.slick-arrow {
    left: -75px;
    top: 50%;
}

.pop-slider .slick-next,
.portfolio-slider .slick-next{
    right: -65px;
}

.sal-slider .slick-prev.slick-arrow  {
    left: -45px;
    top: 50%;
}
.sal-slider .slick-next {
    right: -65px;
}

.seemore-slide-decor{
    .sal-slider .slick-prev.slick-arrow  {
        left: -30px;
        top: 50%;
    }
    .sal-slider .slick-next {
        right: -60px;
    }
    
}
@media screen and (max-width: 1700px) {
    .seemore-slide-decor{
        .sal-slider .slick-prev.slick-arrow  {
            display: none!important;
        }
        .sal-slider .slick-next {
            display: none!important;
        }        
    }
}

.col-slider .slick-prev.slick-arrow  {
    left: -65px;
    top: 50%;
}
.col-slider .slick-next {
    right: -65px;
}


/* Зони для наведення */
.hover-zone, .hover-zone-s, .hover-zone-col, .hover-zone-port {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 20%;
    z-index: 1;
    cursor: pointer;

}

.left-zone, .left-zone-s, .left-zone-col, .left-zone-port {
    left: -150px;
}

.right-zone, .right-zone-s, .right-zone-col, .right-zone-port{
    right: -180px;
}

/* Підсвітка при наведенні */
.left-zone:hover~.pop-slider .slick-prev,
.right-zone:hover~.pop-slider .slick-next,
.left-zone:hover~.portfolio-slider .slick-prev,
.right-zone:hover~.portfolio-slider .slick-next,

.left-zone-port:hover~.portfolio-slider .slick-prev,
.right-zone-port:hover~.portfolio-slider .slick-next,

.left-zone-s:hover~.sal-slider .slick-prev,
.right-zone-s:hover~.sal-slider .slick-next,

.hover-zone-col:hover~.col-slider .slick-prev,
.hover-zone-col:hover~.col-slider .slick-next   {
    opacity: 1;
}

/* Додатково: ховаємо стрілку, якщо вона disabled */
.pop-slider .slick-disabled,
.portfolio-slider .slick-disabled,
.sal-slider .slick-disabled,
.col-slider.slick-disabled {
    pointer-events: none;
    opacity: 0.1 !important;
}

.custom-arrow {
    z-index: 4;
    /* менше, ніж у hover-zone */
}

.zamovlennya{
    margin-bottom: 100px;
}

.wrap-cards-zamovlennya {
    display: flex;
    justify-content: space-between;
}

.portfolio-section {
    padding: 0px 10px;
    margin-bottom: 70px;
}

.potrfolio-slide {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 553px;

    .wrap-portfolio-image {
        min-width: 819px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .portfolio-info {
        background: #535F52;
        color: #fff;
        padding: 49px 78px 33px 85px;
        position: relative;
    }

    .portfoplio-name {
        color: #FFF;
        font-family: inherit;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 7.68px;
    }

    .portfolio-text {
        color: #FFF;
        font-family: inherit;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 173%;
        /* 41.52px */
        margin-bottom: 70px;
    }

    .portfoplio-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 192px;
        height: 49px;
        border: 2px solid #FFF;
        transition: all ease 0.3s;
        color: #FFF;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 22.4px */
        transition: all ease 0.3s;
        margin-right: 20px;
        margin-left: auto;
        text-decoration: none;
        box-sizing: border-box;
        position: relative;
        z-index: 90;
        margin-top: 110px;
        position: absolute;
        right: 50px;
        bottom: 50px;

        &:hover {
            background-color: #fff;
            color: #535F52;
        }
    }
}

.info-media {
    margin-bottom: 111px;
    // padding: 0px 10px;
}

.wrap-sm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 0px 10px;
    height: 317px;
    justify-content: space-between;
}

.sm-1,
.sm-2,
.sm-3,
.sm-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sm-item {
    height: 145px;
}

.sm-1 {
    width: 37.5%;
    height: 317px;
}

.sm-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sm-1-text {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
}

.sm-title {
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
}

.sm-big-number {
    color: #E4193B;
    font-family: inherit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.sm-2 {
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sm-3 {
    width: 27%;
}

.sm-item,
.sm-3 {
    position: relative;
    height: 100%;
}

.sm-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sm-overlay {
    position: absolute;
    inset: 0;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.sm-1,
.sm-3,
.sm-item {
    img {
        transition: all ease 0.3s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}



.sm-icon {
    font-size: 32px;
    color: black;
    border-radius: 6px;
    padding: 5px;
    width: fit-content;

}

.sm-item .sm-overlay {
    display: flex;
    justify-content: start;
    align-items: center;
    ;
    flex-direction: row;

    .sm-icon {

        margin-right: 40px;
        margin-left: 23px
    }
}

.sm-3 .sm-overlay {
    .sm-icon{
        margin: 30px auto 0px;
        display: block;
    }
    .sm-number{
        margin: 0 auto;
        padding-bottom: 50px;
    }
}


.sm-number {
    color: #FFF;
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.sm-number span {}

@media (max-width: 768px) {

    .sm-2,
    .sm-3 {
        flex: 1 1 100%;
    }

    .sm-overlay {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .sm-number {
        text-align:
            left;
    }
}

.sal-slider{
    display: flex;
    padding-left: 1px;
    margin-left: -30px;

    .card {
        height: 100%;
    }

    .card-name {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
}

.sal-item{
    margin: 0px 0px 0px 35px;
    // display: flex;
    // height: auto;
    // width: 100%;
    // height: 100%;
}

.collections{
    margin-bottom: 113px;
    .name-block-line{
        margin-bottom: 49px;
    }
}
.col-slider{
    margin-left: -11px;;
}
.col-item{
     margin: 0px 0px 0px 21px;
    
}

.collections{
    position: relative
}

.col-card{
    width: 261px;
    height: 360px;
    position: relative;
    cursor: pointer;
    // margin-left: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease 0.3s;
    }
    .col-texts{
        position: absolute;
        top:35%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 100%;
    }
    .col-name{
        color: #FFF;
        font-family: inherit;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin: 0px;;
    }
    .col-subname{
        color: #FFF;
        font-family: inherit;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }
    .col-btn{
        opacity: 0;
        height: 27px;
        padding: 5px 15px ;
        color: #020202;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        position: absolute;
        bottom: 32%;
        background-color: #fff;
        text-decoration: none;;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        &:hover{
            color: #E31727;
        }
    }
    &:hover{
        .col-btn{
            opacity: 1;
            
            // transform: translateY(-10px);

        }
        img{
            filter: brightness(0.4);
        }
    }

}



.seo-loft{
    margin-bottom: 106px;    
}

.seo-loft-wrap{
    display: flex ;
    align-items: start;
    margin: 0 auto;
    max-width: 73%;
    justify-content: flex-start;
}

.seo-loft-mane{
    width: 135px;
    margin-right: 50px;
    color: #474747;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.spoiler-simple{
    color: #797979;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    line-height: 1.2;
    padding-top: 5px;
}

.spoiler-heading{
    color: #000;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 150xp 0px;
}



.spoiler-container {
    max-width: 698px;
    margin: 20px auto;
    font-family: sans-serif;
    position: relative;
  }
  
  .spoiler-text,
  .spoiler-more p {
    margin: 0 0 10px 0;
    
  }
  
  .spoiler-more {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .spoiler-btn {
    background-color: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    text-decoration: underline;
    text-align: center;;
    margin: 0 auto;
    display: block;
    color: #FF8484;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover{
        color: red;
    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @media screen and (max-width:1850px ){
    .potrfolio-slide .wrap-portfolio-image {
        min-width: 50%;
    }

  }

  @media screen and (max-width:1700px ){
    .col-card {
        width: 229px;
        height: 301px;
    }
    .seo-loft {
        margin-bottom: 120px;
    }
}

@media screen and (max-width:1650px ){
    .potrfolio-slide .portfolio-info {
        background: #535F52;
        color: #fff;
        padding: 37px 29px;
    }
    .card .card-image-wrap {
        width: 100%;
        height: 274px;
    }
}

@media screen and (max-width:1650px ){
    .col-card {
        width: 211px;
        height: 264px;
    }
     .col-card .col-btn{
        bottom: 16%;
    }
    .sale-block .card {
        max-width: 100%;
    }
    .card {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width:1250px ){
    .card .card-image-wrap {
        width: 100%;
        height: 213px;
    }
    .card-name {
        flex-grow: 1;
        min-height: 60px;
    }
    .col-card .col-name {
        color: #FFF;
        font-family: inherit;
        font-size: 20px;
    }
    .col-card {
        width: 191px;
        height: 249px;
    }
    .sm-number {
        color: #FFF;
        font-family: inherit;
        font-size: 20px;
    }
    .sm-item .sm-overlay .sm-icon {
        margin-right: 25px;
        margin-left: 5px;
    }
    .potrfolio-slide .portfolio-text {
        font-size: 22px;
        line-height: 131%;
    }
    .card-name{
        font-size: 15px;
    }
    .rectangle-card {
        cursor: pointer;
        width: 23%;
        height: 193px;
    }
    .potrfolio-slide {
        height: 431px;
    }
    .potrfolio-slide .wrap-portfolio-image {
        min-width: 454px;
    }
    .potrfolio-slide .portfolio-text {
        font-size: 18px;
    }

}


@media screen and (max-width: 980px ){
    .rectangle-card .rectangle-name{
        font-size: 15px;
    }
    .sm-number {
        font-size: 17px;
    }
    .sm-big-number {
        font-size: 34px;
    }
    .sm-title {

        font-size: 16px;
    }
    .sm-icon {
        width: 65px;
        svg{
            width: 100%;;
        }
    }
    .sm-item .sm-overlay .sm-icon {
        margin-right: 9px;
    }
    .rectangle-card .rectangle-name {
        width: 100%;
    }
    .potrfolio-slide {
        height: auto;
        flex-direction: column;
    }
    .potrfolio-slide .portfoplio-button{
        position: relative;
        right: auto;
        bottom: auto;
    }
}

@media screen and (max-width: 768px){
    .forty{
        font-size: 80px;
    }
    .crown-image{
        width: 140px;
        height: 140px;
    }
    .dont-exist{
        font-size: 25px;
    }
    .alternatives{
        font-size: 19px;
    }
    .sal-slider{
        .card{
            flex-direction: column;
        }
    }
    .wrap-sm{
        height: auto;
    }
    .sm-1 {
        width: 100%;
        max-height: 245px;
    }
    .sm-3 {
        width: 100%;
        max-height: 245px;
    }
    .sm-overlay {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        flex-direction: row;
    }
    .sm-3 .sm-overlay .sm-number{
        padding-bottom: 0px;
        margin: 0px;
    }
    .sm-3 .sm-overlay .sm-icon {
        width: 65px;
        margin: 0px;
        svg{
            width: 100%;;
        }
    }
    .name-block-line {
        align-items: center;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .see-all {
        font-size: 15px;
        max-width: 53%;
    }
    .wrap-cards-zamovlennya{
        flex-flow: wrap;
        .pop-item{
            width: 45%;
        }
    }
    .seo-loft-wrap{
        flex-direction: column;
        max-width: 100%;
    }
    ul.slick-dots {
        list-style: none;
        position: absolute;
        top: auto;
        left: 50%;
        bottom: -54px;
        transform: translateX(-50%);
    }
    .potrfolio-slide .portfolio-info {
        padding: 18px 25px;
    }
    .potrfolio-slide .portfoplio-name {
        font-size: 23px;
        letter-spacing: 3.68px;
    }
    .potrfolio-slide .portfoplio-button{
        margin: 0px auto 30px 0px;
    }
    .zamovlennya {
        margin-bottom: 50px;
    }
    .seo-loft {
        margin-bottom: 80px;
    }
    .potrfolio-slide .portfolio-text{
        margin-bottom: 43px;
    }
    .collections ul.slick-dots {
        bottom: -66px;
    }

    .sale-block .card {
        max-width: 300px;
        margin: 0 auto;
    }
    .sale-block ul.slick-dots { 
        bottom: -68px;
    }
    .info-media {
        margin-bottom: 65px;
    }


}


@media screen and (max-width: 590px){
    .custom-arrow {
        position: absolute;
        top: 50%;
        width: 47px;
        svg{
            width: 100%;
        }
    }
    .sm-1,  .sm-3  {
        width: 100%;
        max-height: 148px;
    }
    .see-all {
        font-size: 15px;
        max-width: 100%;
        text-align: center;
    }
    .col-card {
        width: 79%;
        height: 375px;
        margin: 0 auto;
    }
    .wrap-cards-zamovlennya .pop-item {
        width: 43%;
    }
    .rectangle-card {
        height: 164px;
        
    }
    .popular-banner .rectangle-card {
        height: 242px;
    }

}